# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
env/
venv/
venv.bak/
.Python

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
npm-shrinkwrap.json
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local tunnels
localtunnel.log

# Logs
*.log
